*{
    box-sizing:border-box ;
    margin:0;
    
}

body {
width:100%;
    
}
.circle_Div{
margin-top:20px;
    width:1000px;
    display:flex;
    overflow-x:scroll ;
    height:60vh;
    align-items:center ;
}
.circle{
    width:450px;
    height:120px;
    background-color:#2edfae;
    border-radius:45%;
    margin:0 10px;
    text-align:center ;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.circle p{
    text-align:center;
}
