*{
    box-sizing:border-box ;
    margin:0;
    
}

body {
width:100%;
    
}
.circle_Div{
margin-top:20px;
    width:fit-content;
    display:flex;
    overflow-x:scroll;
    height:100%;
    align-items:center ;
    position:absolute ;
    
}
.circle_Div::-webkit-scrollbar{

height:10px;
    background-color:red;
}
circle_Div::-webkit-scrollbar-thumb{

   background-color: darkgrey;
    outline: 1px solid slategrey;
}
circle_Div::-webkit-scrollbar-track{

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }

.circle{
    width:250px;
    height:250px;
    position:relative ;
    background-color:#2edfae;
    border-radius:48%;
    margin:0 10px;
    text-align:center ;
    font-size:25px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}
.circle p{
    text-align:center;
}
